*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: aqua;
}

h1{
    font-size: 290%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}

.commission{
    padding-bottom: 80px;
}

.c-container1{
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    padding-top: 22%;
}

.c-container2{
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    padding-top: 15%;
}

.c-container1, .c-container2{
    margin-top: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 30vw;
    margin-right: 50px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.end{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
}

@media only screen and (min-width: 961px){
    footer{
        position: fixed;
        bottom: 0;
        left: 45vw;
    }
}